/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&family=Quicksand:wght@300..700&display=swap');

/* override default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

main {
    background-color: transparent;
    min-height: 80vh;
    width: 94%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0 60px 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 5px;
}

header i {
    font-size: 20px;
    padding: 0 5px;
}

/* Hidden styling for h2 Headings */
.hidden {
    display: none;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
    padding: 10px 10px;
    font-weight: 400;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(135, 135, 135);
}

/* The input:focus code below was provided by Chat GPT after I couldn't 
figure out how to remove the input box border while text is being edited */
input:focus {
    outline: none;
    border: none;
}

.main-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.items-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#checkbox {
    font-size: 18px;
    padding-right: 5px;;
}

#vacation-message {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    font-weight: 400;
}

#vacation-message p {
    padding: 0 15px;
    text-align: center;
}

#add-new-item-box {
    padding: 10px 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#userInput {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px;
    margin: 0 5px;
    font-size: 15px;
    font-family: "poppins", sans-serif;
    color: inherit;
    max-width: 60vw;
}

#priority-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

#controls-section {
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0;
    font-family: "Roboto", sans-serif;
}

#controls-section span {
    padding: 5px 10px;
    margin: 0;
    line-height: 120%;
}

#second-controls-section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}

#second-controls-section button {
    padding: 5px;
    font-size: 18px;
    width: 32%;
    border-radius: 5px;
}

#items-left {
    font-weight: 600;
}

#item-text-display {
    display:inline-flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 70vw;
    overflow-y: hidden;
    padding-left: 5px;
}

#no-wrap-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

#list-display-first-box {
    display: flex;
    align-items: center;
}

footer {
    width: 100%;
    max-width: 320px;
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#footer-text,
footer a {
    font-size: small;
}

#tech-image {
    width: 80px;
}

footer span {
    padding: 0 5px;
    margin: 0;
    width: 32%;
    display: flex;
    text-align: center;
}

/* Styling used by Javascript */

.not-priority {
    color: transparent;
    padding-right: 5px;
}

.priority {
    color: red;
    padding-right: 5px;
}

.strikethrough {
    text-decoration: line-through;
}

#editing {
    background-color: transparent;
    border: 1px solid black;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding-left: 5px;
    width: 220px;
}

/* Styles for Dark & Light Theme specific - Used by Javascript */

.body-light {
    background: white url(../images/body-background-light.webp) no-repeat top center / cover;
    color: rgb(10, 26, 60);
}

.body-dark {
    background: black url(../images/body-background-dark.jpg) no-repeat top center / cover;
    color: rgb(212, 217, 232);
}

.light {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    color: rgb(0, 0, 0);
}

.dark {
    background-color: rgb(37, 39, 60);
    border: 1px solid white;
    color: rgb(212, 217, 232);
}

.li-light {
    background-color: rgb(255, 255, 255);
    color: black;
}

.li-dark {
    background-color: rgb(37, 39, 60);
    color: rgb(212, 217, 232);
}

/* Add Hover Effect with Mouse Over - Used by Javascript */

.hoverClass {
    color: rgb(199, 14, 14);
    cursor: pointer;
}

.buttonHoverClass {
    color: rgb(137, 61, 61);
    cursor: pointer;
    box-shadow: 1px 2px 20px -10px rgba(0, 0, 0, 0.7)
}