/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&family=Quicksand:wght@300..700&display=swap');

/* override default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: relative;
}

main {
    background-color: transparent;
    min-height: 80vh;
    width: 94%;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px 0 60px 0;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 5px;
}

header i {
    font-size: 20px;
    padding: 0 5px;
}

/* span {
    padding: 0 20px;
} */

a, a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul {
    display: flex 1 auto;
    flex-direction: column;
}

li {
    list-style-type: none;
    border: 1px solid rgb(135, 135, 135);
    background-color: rgb(238, 238, 244);
    padding: 10px 15px;
    font-weight: 400;
    font-size: 15px;
}

.body-light {
    background: white url(../images/body-background-light.webp) no-repeat top center / cover;
    color: rgb(10, 26, 60);
}

.main-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.add-new-item-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#userInput {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 5px;
    margin: 0 10px;
    font-size: 15px;
    font-family: "poppins", sans-serif;
}

.priority-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}


#controls-section {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 10px 0 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 0;
    font-family: "Roboto", sans-serif;
}

#controls-section span {
    padding: 5px 10px;
    margin: 0;
    line-height: 120%;
}

#second-controls-section {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}

#second-controls-section button {
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 18px;
    width: 32%;
    border: 1px solid rgb(18, 18, 45);

}

.items-left {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

#items-left {
    font-weight: 600;
}

footer {
    width: 100%;
    max-width: 350px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer p, footer a { 
    font-size: small;
}

footer span { 
    padding: 0 5px;
    margin: 0;
    width: 32%;
    display: flex 1 auto;
    text-align: center;
}
#tech-image {
    width: 80px;
}

.not-priority {
    color: transparent;
}

.priority {
    color: red;
}

.strikethrough {
    text-decoration: line-through;
}
